# Ignore Visual Studio solution user/state files
rtl8102e_driver.slnx

# Visual Studio index file
1afb363a-51ed-4da1-9568-0f8a61233f91.vsidx
/RTL8102E_Driver/.vs/RTL8102E_Driver/CopilotIndices/18.7.1225.11805/CodeChunks.db-wal
/RTL8102E_Driver/.vs/RTL8102E_Driver/CopilotIndices/18.7.1225.11805/SemanticSymbols.db-wal
